@color-fill-black: #000;
@color-fill-white: #fff;
@color-text-black: #000;
@color-text-white: #fff;
@color-primary: #63ace5;
@color-secondary: #207CC2;

@spacing: 10px;
@font-size: 15px;

@card-width: 150px;
@footer-height: 42px;

@breakpoint-lg: 5 * @card-width + 12 * @spacing;
@breakpoint-sm: 2 * @card-width + 6 * @spacing;

@card-radius: 5px;

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: @font-size;

    position: relative;
    width: 100vw;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.wrapper {
    max-width: @breakpoint-lg;
    margin: 0 auto;
    padding: @spacing*2;
}

header {
    text-align: center;

    position: sticky;
    top: 0;
    z-index: 5;
    background: inherit;

    &.stuck {
        box-shadow: 10px 0 10px rgba(0,0,0,0.5);
    }
}

footer {
    width: 100%;
    left: 0;
    height: @footer-height;
    line-height: @footer-height;
    z-index: 5;

    position: sticky;
    bottom: 0;

    &.ia {
        display: none;

        .action__message {
            display: none;
        }
        .action__submit {
            display: inline-block;
        }
    }

    &.ready {
        display: block;
    }

    .wrapper {
        padding: 0 @spacing*2;
    }

    .action {
        padding: 0 @spacing;
        background: fadeout(@color-primary, 10%);
        border-radius: @card-radius;
        text-align: right;

        &__message {
            text-align: center;
        }
        &__submit {
            display: none;
        }
    }

    .button {
        padding: 0 10px;
        background: @color-secondary;
        line-height:30px;
        border-radius: @card-radius;
        border: 1px solid darken(@color-secondary, 10%);
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        text-align: center;

        width: @card-width - @spacing*2;

        transition: background 0.2s ease-in-out;

        &:hover {
            background: darken(@color-secondary, 10%);
        }
    }
}

ul.cards {
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: -@spacing;

    li {
        padding: @spacing;
    }
}
.cards.ia {

    a.card:not(.selected):hover {
        transform: scale(1.1);
        box-shadow: 0 0 @spacing*2 #000;
        z-index: 2;
    }
}

.card {
    display: inline-block;

    background-color: @color-fill-white;
    color: @color-text-black;

    width: 150px;
    height: 210px;
    padding: @spacing;

    border-radius: @card-radius;
    line-height: 120%;
    text-align: left;

    position: relative;

    user-select: none;

    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;

    &.black {
        background-color: @color-fill-black;
        color: @color-text-white;
    }

    &.selected {
        border: 3px solid #63ace5;
        padding: @spacing - 3px;
    }

    &[data-pick]:after {
        position: absolute;
        right: @spacing;
        bottom: @spacing;
        border-radius: 50%;
        background-color: #63ace5;
        color: #fff;
        text-align: center;
        line-height: 22px;
        width: 22px;
        content: attr(data-pick);
    }

    span {
        white-space: nowrap;
    }
}

ul {
    margin: @spacing 0;
    line-height: 150%;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}


@media (max-width: @breakpoint-lg), (max-height: 480px) {
    .wrapper {
        max-width: @breakpoint-sm;
    }
    .card {
        min-height: 75px;
        height: 100%;
    }
}