<?php

return array(
    'shortName' => '',
    'dbName' => '',
    'dbUser' => '',
    'dbPassword' => '',
    'telegramAPIToken' => '',
    'urlPrefix' => '',
    'botSecret' => '',
    'whitelist' => []
);